################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcCrudOperations/v15/Server/sqlite3
/MvcCrudOperations/bin/roslyn
/MvcCrudOperations/bin
