
@{
    ViewBag.Title = "CreateRecords";
}

<h2>CreateRecords</h2>
<html>
<body>
    <form action="../Insert" method="post">
        <div class="InsertOperation">
            <br />
            <table style="border:1px solid green">
                <tr>
                    
                    <th>Name</th>
                    <th>Department</th>
                </tr>
                <tr>
                    
                    <td><input type="text" name="strStudentName" value="" /></td>
                    <td><input type="text" name="strStudentDepartment" value="" /></td>
                    <td><input type="submit" value="Add" /></td>
                </tr>


            </table>

        </div>
    </form>
</body>
</html>
