@{
       ViewBag.Title = "Welcome! for the Practice Session";
}
    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p><a href="Student/GetRecords/"><b><u>Click here to view The records</u></b></a></p>
    <div>
    
    </div>
</body>
</html>
